<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daytona Organization Invitation</title>
</head>
<body style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', serif; font-size: 14px; line-height: 1.5; color: rgb(36, 41, 46); margin: 0px; background-color: rgb(255, 255, 255); width: 100%; max-width: 100%;">
  <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:980px; margin-right:auto; margin-left:auto; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" align="center">
    <tbody>
      <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
        <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:16px" valign="top" align="center">
          <center style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
            <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" align="center">
              <tbody>
                <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                  <td style="box-sizing:border-box; border-radius:6px!important; display:block!important; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0; border:1px solid #e1e4e8">
                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; text-align:center!important; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" align="center">
                      <tbody>
                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                          <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:32px 16px">
                            <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                  <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" align="center">
                                    <img style="box-sizing:border-box; display:inline-block; overflow:hidden; line-height:1; vertical-align:middle; border-radius:6px; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; border:1px solid #e1e4e8; max-width:100%; height:auto; width:72px; height:72px" alt="Daytona logo" src="https://www.daytona.io/brand/social-daytona-icon-light.png" data-imagetype="External"> 
                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                          <td style="font-size:20px; line-height:20px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="20">&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <h1 style="box-sizing:border-box; margin-top:0; margin-bottom:0; font-size:24px; font-weight:600; line-height:1.25!important; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important"><% if (invitedBy) { %><%= invitedBy %> has invited you to join the <%= organizationName %> organization<% } else { %>You have been invited to join the <%= organizationName %> organization<% } %></h1>
                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                          <td style="font-size:32px; line-height:32px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="16">&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <p style="box-sizing:border-box; margin-top:0; margin-bottom:0; font-size:16px; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">This invitation expires on <%= expiresAt %></p>
                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                          <td style="font-size:32px; line-height:32px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="20">&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                          <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" align="center">
                                            <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" cellpadding="0" cellspacing="0" border="0" width="100%">
                                              <tbody>
                                                <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                                  <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0">
                                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" cellpadding="0" cellspacing="0" border="0">
                                                      <tbody>
                                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                                          <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" align="center"><a style="background-color:rgb(0, 128, 255)!important; box-sizing:border-box; color:#fff; text-decoration:none; display:inline-block; font-size:16px; font-weight:500; line-height:1.5; white-space:nowrap; vertical-align:middle; border-radius:4px; box-shadow:0 1px 0 rgba(27,31,35,.1),inset 0 1px 0 rgba(255,255,255,.03); font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:10px 12px; margin:0; border:1px solid rgb(0, 128, 255)" href="<%= invitationLink %>">Join <%= organizationName %></a> </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                                          <td style="font-size:32px; line-height:32px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="16">&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <p style="box-sizing:border-box; margin-top:0; margin-bottom:0; font-size:16px; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">Button not working? Paste the following link into your browser:<br style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important"><a style="background-color:transparent; box-sizing:border-box; color:rgb(0, 128, 255); text-decoration:none; word-break: break-all; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" href="<%= invitationLink %>"><%= invitationLink %></a> </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; text-align:center!important; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important" width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                  <td style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" align="center">
                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                          <td style="font-size:16px; line-height:16px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="8">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <p style="box-sizing:border-box; margin-top:0; margin-bottom:0; font-size:12px!important; color:#9a9ea6; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">* If you were not expecting this invitation, please disregard this email.</p>
                    <table style="box-sizing:border-box; border-spacing:0; border-collapse:collapse; width:100%!important; max-width:100%!important; margin:0; padding:0; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                      <tbody style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                        <tr style="box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">
                          <td style="font-size:16px; line-height:16px; box-sizing:border-box; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important; padding:0" height="16">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <p style="box-sizing:border-box; margin-top:0; margin-bottom:0; color:#9a9ea6; font-size:12px!important; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'!important">Copyright © <%= new Date().getFullYear() %> Daytona Platforms, Inc. All Rights Reserved</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="display: none; white-space: nowrap; box-sizing: border-box; font: 15px / 0 apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>